{% extends "base_generic.html" %}

{% block content %}


<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% if blog_list %}
      {% for blog in blog_list %}
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <p><a href="{{ blog.get_absolute_url }}">{{blog.title}}</a></p>
            <p class="card-text">{{blog.content|striptags|truncatechars:100}}<a href="{{ blog.get_absolute_url }}">Continue reading</a></p>
            <p><a href="{{ blog.blog_author.get_absolute_url }}">{{blog.blog_author}}</a> - {{blog.post_date}}</p>
            <p>Total Comments: {{blog.comment_set.all.count}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>There are no Blogs.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}